<!DOCTYPE html>
<html>

    <head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" href="{{ url_for('static',filename='images/logo_repertophonique.png') }}" />
        <title>Ajouter</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
        <script src="scripts.js"></script>
    </head>
	
    <body>
	
		<div id="logo">
			<p style="float:left"><img src="{{ url_for('static',filename='images/logo_repertophonique.png') }}">
			</p>
		</div>
		
		<div id="titre">
			<br/>
			<p align="center">
			Ajouter...
			<br/>
			<span id="libelle"><i>Ajoutez un numero a une personne : selectionez la personne</i></span>
			</p>
		</div>
		
		<br/>
		
	    <div id="menugauche">
			<div id="contenumenugauche">
				<ul>
					<li><a href="/">Retour</a></li>
				</ul>
	    	</div>
		</div>

		<div class="blocqueries">
			<form action="/addNum2" method="post">
        	    <label for="fname">Nom:</label><br>
        	    <input type="text" id="fname" name="fname" value="John" class="queries"><br>
        	    <label for="lname">Prenom:</label><br>
        	    <input type="text" id="lname" name="lname" value="Doe" class="queries"><br><br>
				<label for="lname">Profession:</label><br>
				<input type="text" id="job" name="job" value="Informaticien" class="queries"><br><br>
				<label for="">Age:</label><br>
				<input type="text" id="age" name="age" value="40" class="queries"><br><br>
        	    <input type="submit" id="submit" value="Submit">
				
        	</form>
		</div>

	</body>
	
</html>
