<!DOCTYPE html>
<html>

    <head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" href="../Images/logo_repertophonique.png" />
        <title>Bienvenue sur Répertophonique !</title>
        <link rel="stylesheet" href="styles.css">
        <script src="scripts.js"></script>
    </head>
	
    <body>
	
		<div id="logo">
			<p style="float:left"><img src="../Images/logo_repertophonique.png">
			</p>
		</div>
		
		<div id="titre">
			<br/>
			<p align="center">
			Répertophonique
			<br/>
			<span id="libelle"><i>Le meilleur répertoire téléphonique</i></span>
			</p>
		</div>
		
		<br/>
		
	    <div id="menugauche">
			<div id="contenumenugauche">
				<ul>
					<li><a href="index.html">Retour</a></li>
				</ul>
	    	</div>
		</div>
	
	</body>
	
</html>
