<!DOCTYPE html>
<html>

    <head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" href="{{ url_for('static',filename='images/logo_repertophonique.png') }}" />
        <title>About us</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
        <script src="scripts.js"></script>
    </head>
	
    <body>
	
		<div id="logo">
			<p style="float:left"><img src="{{ url_for('static',filename='images/logo_repertophonique.png') }}">
			</p>
		</div>
		
		<div id="titre">
			<br/>
			<p align="center">
			A Propos
			<br/>
			<span id="libelle"><i>Découvrez l'équipe du projet</i></span>
			</p>
		</div>
		
		<br/>
		
	    <div id="menugauche">
			<div id="contenumenugauche">
				<ul>
					<li><a href="/">Retour</a></li>
				</ul>
	    	</div>
		</div>

		<div id="bloctexte">
			<h2><i>Qui</i> à fait <i>quoi</i> ?</h2>
			<p>Découvrez le rôle de chacun des membres du projet.</p>
			<h3>Répartition des tâches.</h3>
			<ul><li>Clément</li></ul>
			<p>Clément a réalisé l'ensemble du code HTML et CSS, afin de créer l'interface utilisateur et l'aspect visuel du site. Il a fallu mettre en place des menus à gauche
				ou en bas de page afin de permettre une navigation facile et rapide, ainsi que des boutons de retour, afin de pouvoir revenir au menu principal. Aussi, il a réalisé
				les boutons interractifs de la page d'accueil, afin de permettre aux utilisateurs de choisir leurs actions. Une fois les actions envoyées, c'est le script Python qui
				les prend en charge, mais ça, c'est le rôle d'un autre membre de l'equipe...</p>
			<ul><li>Ugo</li></ul>
			<p>Ugo s'est chargé d'écrire le script Python utilisant Flask, afin de traiter les requêtes en voyées depuis le site. Un partie de son travail est visible dans le code HTML,
				là où il s'agit d'effectuer une liaison entre plusieurs fichiers. Flask utilise python pour gérer des commandes SQL, afin de pouvoir agir sur la base de données, en 
				ajoutant, modifiant et supprimmant des éléments par exemple. Or, celà à été le travail d'un autre membre du groupe...
			</p>
			<ul><li>Jao</li></ul>
			<p>Jao à agi au plus "bas" niveau de notre projet, en créant les bases de données contenant toutes les informations des utilisateurs. Tout ce que ces bases reçoivent de Flask sont
				stockées et prêtes à être affichées en cas de recherche de la part d'un utilisateur. Il a fallu effectuer entre le code SQL et le code Python afin de rendre les nombreuses 
				fonctionnalités de notre site possible.
			</p>
							
		</div>
	
	</body>
	
</html>
