<!DOCTYPE html>
<html>

    <head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" href="{{ url_for('static',filename='images/logo_repertophonique.png') }}" />
        <title>Ajouter</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
        <script src="scripts.js"></script>
    </head>
	
    <body>
	
		<div id="logo">
			<p style="float:left"><img src="{{ url_for('static',filename='images/logo_repertophonique.png') }}">
			</p>
		</div>
		
		<div id="titre">
			<br/>
			<p align="center">
			Supprimer
			<br/>
			<span id="libelle"><i>Choisissez votre numéro et votre personne</i></span>
			</p>			
		</div>
		
		<br/>
		
	    <div id="menugauche">
			<div id="contenumenugauche">
				<ul>
					<li><a href="/">Retour</a></li>
				</ul>
	    	</div>
		</div>

		<div class="blocqueries">
			<form action="/delettedSave" method="post">
				<label for="ppl">Choisissez une personne:</label>
				<select class="queries" name="ppl" id="ppl">
					{%for i in range(0, len)%} 


					<option value={{selected[i][0]}}>{{selected[i]}}</option>
					{%endfor%}
				</select>
				<br><br>

				<input type="submit" id="submit" value="Submit">
				
			</form>
		</div>

	</body>
	
</html>
