<!DOCTYPE html>
<html>

    <head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" href="{{ url_for('static',filename='images/logo_repertophonique.png') }}" />
        <title>How to ?</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
        <script src="scripts.js"></script>
    </head>
	
    <body>
	
		<div id="logo">
			<p style="float:left"><img src="{{ url_for('static',filename='images/logo_repertophonique.png') }}">
			</p>
		</div>
		
		<div id="titre">
			<br/>
			<p align="center">
			Guide d'utilisation
			<br/>
			</p>
		</div>
		
		<br/>
		
	    <div id="menugauche">
			<div id="contenumenugauche">
				<ul>
					<li><a href="/">Retour</a></li>
				</ul>
	    	</div>
		</div>

		<div id="bloctexte">
			<h2>Comment se servir de Répertophonique ?</h2>
			<p>Bienvenue sur notre site, si vous ne savez pas ajouter, modifier, supprimer ou rechercher un numéro, ce guide est fait pour vous!</p>
			<h3>Traiter des requêtes.</h3>
			<p>Sur la page d'accueil, cliquez sur l'action de votre choix. Vous serez redirigés vers une nouvelle page. Ici, choisissez ensuite l'option qui vous convient. 
				Remplissez ensuite les informations nécéssaires à la requête, en complétant les cases vides selon l'intitulé vous étant proposé. Cliquez sur le bouton final 
				afin de terminer l'opération. Même processus pour rechercher un numéro ou une personne. Une fois vos requêtes terminées, revenez au menu principal avec "Retour".</p>				
		</div>

	</body>
	
</html>
