<!DOCTYPE html>
<html>

    <head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" href="{{ url_for('static',filename='images/logo_repertophonique.png') }}" />
        <title>Bienvenue sur Répertophonique !</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
        <script src="scripts.js"></script>
    </head>
	
    <body>
	
		<div id="logo">
			<p style="float:left"><img src="{{ url_for('static',filename='images/logo_repertophonique.png') }}">
			</p>
		</div>
		
		<div id="titre">
			<br/>
			<p align="center">
			Répertophonique
			<br/>
			<span id="libelle"><i>Le meilleur répertoire téléphonique</i></span>
			</p>
		</div>
		
		<br/>
		
	    <div id="menugauche">
			<div id="contenumenugauche">
				<ul>
					<a href="howto"><li>Comment faire?</li></a>
				</ul>
				<ul>
					<a href="rechercher"><li>Rechercher</li></a>
				</ul>
	    	</div>
		</div>

		<div id="boutons">
			<div id="btn_ajouter">
				<a href="ajouter"><button class="btn_primaires">Ajouter</button></a>
			</div>
			<div id="btn_modifier">
				<a href="modifier"><button class="btn_primaires">Modifier</button></a>
			</div>
			<div id="btn_supprimer">
				<a href="supprimer"><button class="btn_primaires">Supprimer</button></a>
			</div>
		</div>
	
	    <div id="menubottom">
			<ul>
				<li>The Repertophonique© logo and repertophonique.com are deposed trademarks</li>
                <li>2024-2025 All rights reserved</li>
                <li>Clément-Ugo-Jao</li>
				<a href="apropos">A PROPOS DE L'EQUIPE REPERTOPHONIQUE</a>
				<li>Find our project on GitHub <a href="https://github.com/mishell1m69/Repertophonique.git"><i>here</i></a><span class="texte_invisible"> <---CLICK</span></li>
            </ul>
		</div>
	
	</body>
	
</html>
