<!DOCTYPE html>
<html>

    <head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" href="{{ url_for('static',filename='images/logo_repertophonique.png') }}" />
        <title>Ajouter</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
        <script src="scripts.js"></script>
    </head>
	
    <body>
	
		<div id="logo">
			<p style="float:left"><img src="{{ url_for('static',filename='images/logo_repertophonique.png') }}">
			</p>
		</div>
		
		<div id="titre">
			<br/>
			<p align="center">
			Rechercher
			<br/>
			<span id="libelle"><i>Voici les résultats</i></span>
			</p>
		</div>
		
		<br/>
		
	    <div id="menugauche">
			<div id="contenumenugauche">
				<ul>
					<li><a href="/">Retour</a></li>
				</ul>
	    	</div>
		</div>

		<div class="blocqueries">
            <ul>
                {%for i in range(0, len)%} 
				<li>Nom: {{selected[i][1]}}  -  Prenom:{{selected[i][2]}}  -  Métier: {{selected[i][3]}}  -  Date de naissance: {{selected[i][4]}}  -  Indicatif:{{nb[i][0][1]}}  -  Mobile: {{nb[i][0][2]}}  -  Fixe: {{nb[i][0][3]}}  -  Domicile: {{nb[i][0][4]}}  -  Travail: {{nb[i][0][5]}}</li>
				{%endfor%}
            </ul>
		</div>

	</body>
	
</html>
