<!DOCTYPE html>
<html>

    <head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" href="{{ url_for('static',filename='images/logo_repertophonique.png') }}" />
        <title>Rechercher</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
        <script src="scripts.js"></script>
    </head>
	
    <body>
	
		<div id="logo">
			<p style="float:left"><img src="{{ url_for('static',filename='images/logo_repertophonique.png') }}">
			</p>
		</div>
		
		<div id="titre">
			<br/>
			<p align="center">
			Rechercher...
			<br/>
			<span id="libelle"><i>Trouvez les infos qui vous sont utiles.</i></span>
			</p>
		</div>
		
		<br/>
		
	    <div id="menugauche">
			<div id="contenumenugauche">
				<ul>
					<li><a href="/">Retour</a></li>
				</ul>
	    	</div>
		</div>

		<div id="boutons">
			<div id="btn_rechercher_numpersonne">
				<a href="------"><button class="btn_secondaires">... Un numéro selon une personne</button></a>
			</div>
			<div id="btn_rechercher_personnenum">
				<a href="------"><button class="btn_secondaires">... Une personne selon un numéro</button></a>
			</div>
		</div>
	
	</body>
	
</html>
