body {
	font-family: "Monaco", monospace;
	/*font-family: "Comic Sans MS", "Comic Sans", cursive;*/
	margin: 0;
	/*background: linear-gradient(0deg, #cecece 2%, #7ca4be 98%);*/
	background: rgb(112, 112, 112);
}

html {
	width:100%;
	height:100%;
}

#logo {	
	margin: 15px;
	margin-left: 70px;
	float: left;
	transition: transform 0.25s ease-in-out;
}

#logo:hover {
	cursor:pointer;
	transform: scale(0.9);
}

#titre {	
	font-weight: bold;
	font-size: 60px;
	color: navy;
	margin: 20px;
	text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
	letter-spacing:2px;
}

#libelle {
	font-size: 25px;
	color: white;
}

#menugauche {
    /*background-color: #366092;*/
	background: rgb(112, 112, 112);
	border-radius: 0px 30px 30px 0px;
	
    width: 220px;
	height: 100%;
    padding: 20px;
	font-size: 30px;
	font-weight: bold;
	color: white;
	line-height: 60px;
	float: left;
	/*box-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
	transition: background-color 0.3s;	
}

 #contenumenugauche {
	cursor: pointer;
	border: 2px solid rgb(112, 112, 112);
	border-radius: 0px 30px 30px 0px;
	background-color: #366092;
	margin-bottom: 15px;
	color: white;
}

#contenumenugauche a:link,
#contenumenugauche a:visited {
    text-decoration: none;
	color: white;
}

#contenumenugauche ul:hover {
	/*background: linear-gradient(0deg, #cecece 2%, #7ca4be 98%);*/
	background: rgb(112, 112, 112);
	border-radius: 120px 0px 0px 120px;
	transition: background 0.2s, border-radius 0.2s;
	animation: glow 0.2s ease-in-out;
}

#btn_ajouter {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 25px;
}

#btn_modifier {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 25px;
}

#btn_supprimer {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 25px;
}

.btn_primaires {
	text-decoration: none;
	cursor: pointer;
	padding: 15px;
	border: unset;
	border-radius: 20px;
	color: #ffffff;
	background-color: #366092;
	position: relative;
	font-weight: 1000;
	font-size: 2em;
	-webkit-box-shadow: 13px 10px 15px #444444;
	box-shadow: 13px 10px 15px #444444;
	-moz-box-shadow: 13px 10px 15px #444444;
	transition: all 250ms;
	overflow: hidden;
   }
   
   .btn_primaires:hover {
	color: #000000;
	transform: scale(0.95);
   }

   .btn_primaires::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	border-radius: 15px;
	background-color: #ffffff;
	z-index: -1;
	-webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
	box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
	transition: all 250ms
   }
   
   .btn_primaires:hover::before {
	width: 100%;
   }

.btn_secondaires {
	text-decoration: none;
	cursor: pointer;
	margin: 15px;
	margin-left: 30px;
	padding: 15px;
	border: unset;
	border-radius: 20px;
	color: #ffffff;
	background-color: #366092;
	position: relative;
	font-weight: 1000;
	font-size: 1em;
	-webkit-box-shadow: 13px 10px 15px #444444;
	box-shadow: 13px 10px 15px #444444;
	-moz-box-shadow: 13px 10px 15px #444444;
	transition: all 250ms;
	overflow: hidden;
   }
   
.btn_secondaires:hover {
	color: #000000;
	transform: scale(0.95);
   }

.btn_secondaires::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	border-radius: 15px;
	background-color: #ffffff;
	z-index: -1;
	-webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
	box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
	transition: all 250ms
   }
   
.btn_secondaires:hover::before {
	width: 100%;
   }

.blocqueries {
	text-decoration: none;
	padding: 10px;
	margin: 10px;
	margin-left: 280px;
	margin-right: 30px;
	font-family: arial;
	font-size: 1em;
	color: #ffffff;
	border: 3px solid #FFFFFF;
	}
	
.queries {
	text-decoration: none;
	margin: 2px;
	margin-top: 5px;
	padding: 15px;
	font-family: arial;
	font-size: 1em;
	color: #ffffff;
	background-color: #5986bd8e;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border: 3px solid #FFFFFF;

	}

#submit {
	text-decoration: none;
	margin: 2px;
	margin-top: 5px;
	padding: 15px;
	font-family: arial;
	font-size: 1em;
	color: #000000;
	background-color: #c7c5c5bd;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border: 3px solid #FFFFFF;	
}

#menubottom {
    background-color: black;
    width: 100%;
	height: 100%;
	font-size: 20px;
	font-weight: bold;
	color: rgb(255, 255, 255);
	line-height: 60px;
	float: left;
	transition: background-color 0.2s ease;	
 }
 
#menubottom a:link,
#menubottom a:visited {
    text-decoration: none;
	color: rgb(255, 255, 255);
}

#menubottom:hover {
  background-color: #131313; /* couleur de fond lorsque l'on survole */
  color: #131313;
}

#menubottom:hover .texte_invisible{
	color: #ffffff;
	transition: opacity 0.5s ease;
  }

#menubottom:active {
  background-color: #474747; /* couleur de fond lorsque l'on clique */
}

#bloctexte {
	margin-left: 20px;
	margin-top: 0px;
	padding: 15px;
	font-size: 20px;
	font-weight: bold;
	color: rgb(0, 0, 0);
	line-height: 40px;
	float: left;
}

.texte_invisible {
	color: #000000;	
	transition: opacity 0.5s ease;
}